/*
0 - 600px Phone
600 - 900px Tablet portrait
900 - 1200px Tablet landscape
[1200 - 1800] is where our normal style apply
1800px + : Tablet portrait
?breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
1em  = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

header {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: linear-gradient(to right bottom, rgba(119, 119, 119, 0.1), rgba(153, 153, 153, 0.1)), url(../files/img/bitmap.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  header .header_left {
    color: white;
    width: 50vw; }
    header .header_left .header_box--left {
      display: inline-block;
      padding: 2rem;
      transform: translate(20%, 50%); }
      header .header_left .header_box--left .header_heading--primary {
        font-size: 4rem;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 1.5rem; }
      header .header_left .header_box--left .header_heading--secondary {
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 1.5rem; }
      header .header_left .header_box--left .details {
        list-style-type: none; }
        header .header_left .header_box--left .details li {
          font-size: 1.5rem;
          font-family: Arial, Helvetica, sans-serif;
          display: flex;
          margin-bottom: 1.2rem; }
          header .header_left .header_box--left .details li span {
            display: inline-block;
            margin-right: 1rem; }
            header .header_left .header_box--left .details li span img {
              width: 1.5rem;
              height: 1.5rem; }
  header .header_right {
    width: 50vw; }
