header {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-grey-dark, 0.1),
      rgba($color-grey-dark-2, 0.1)
    ),
    url(../files/img/bitmap.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .header_left {
    color: white;
    width: 50vw;
    // border: 1px solid white;

    .header_box--left {
      // border: 1px solid red;
      display: inline-block;
      padding: 2rem;
      transform: translate(20%, 50%);

      .header_heading--primary {
        font-size: 4rem;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 1.5rem;
      }

      .header_heading--secondary {
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 1.5rem;
      }

      .details {
        list-style-type: none;
        li {
          font-size: 1.5rem;
          font-family: Arial, Helvetica, sans-serif;
          display: flex;
          margin-bottom: 1.2rem;
          span {
            display: inline-block;
            margin-right: 1rem;
            img {
              width: 1.5rem;
              height: 1.5rem;
            }
          }
        }
      }
    }
  }

  .header_right {
    // border: 1px solid white;
    width: 50vw;
    .header_box--right {
      // border: 1px solid red;
      display: inline-block;
      transform: translate(50%, 30%);
      #header_from {
        background-color: #e6e7e7;
        width: 35rem;
        padding: 4rem 2rem;
        font-size: 1rem;

        .form_heading--1 {
          font-size: 1.5rem;
          font-family: Arial, Helvetica, sans-serif;
          text-align: center;
          margin-bottom: 1rem;
        }

        .form_heading--2 {
          font-size: 1.2rem;
          font-family: Arial, Helvetica, sans-serif;
          text-align: center;
        }

        label {
          font-size: 1.2rem;
          font-family: Arial, Helvetica, sans-serif;
        }

        input {
          width: 100%;
          border: none;
          font-size: 2rem;
          margin-bottom: 1rem;
        }

        textarea {
          width: 100%;
          margin-top: 1rem;
        }

        .submitBtn {
          width: 100%;
          margin-top: 1rem;
          padding: 1rem 2rem;
          background-color: #0fbfe8;
          border: none;
          cursor: pointer;
          transition: all 0.5s;
          font-weight: bold;
          &:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }
        }
      }
    }
  }
}
